/* ========== Fonts ========== */
@font-face {
  font-family: "MontserratAlternates";
  src: url("../assets/fonts/MontserratAlternates-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat-VariableFont_wght.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

.main-color {
  color: #e98baf;
}
/* ========== Header ========== */
.navbar-brand {
  font-family: "MontserratAlternates";
}

/* ========== Hero Section ========== */
.hero a {
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
}
.hero img {
  max-height: 70vh;
  border-radius: 50%;
  text-align: center;
}

/* ========== Collection Section ========== */
.product-img-wrapper {
  overflow: hidden;
}
.card-img-top {
  transition: 0.35s ease;
  object-fit: cover;
}
.card:hover .card-img-top {
  transform: scale(1.07);
}

/* ========== Footer ========== */
footer h4 {
  font-family: "MontserratAlternates";
}
