/* ========== Fonts ========== */
@font-face {
  font-family: "MontserratAlternates";
  src: url("../assets/fonts/MontserratAlternates-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat-VariableFont_wght.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* ========== Header ========== */
.navbar-brand {
  font-family: "MontserratAlternates";
}

/* ========== Hero Section ========== */
.hero {
  position: relative;
}
.hero a {
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
}

/* ========== New Collection Section ========== */
.product-img-wrapper {
  overflow: hidden; /* يمنع الصورة من الخروج خارج الإطار */
}
.card-img-top {
  transition: 0.35s ease;
  object-fit: cover;
}
.card:hover .card-img-top {
  transform: scale(1.07);
}
