/* ========== Fonts ========== */
@font-face {
  font-family: "MontserratAlternates";
  src: url("../assets/fonts/MontserratAlternates-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat-VariableFont_wght.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* ========== Header ========== */
.navbar-brand {
  font-family: "MontserratAlternates";
}
